<footer style="background-color:  #1a2c51">

    <div class="container">
        
        <nav class="footer-nav">
           
            <div class="footer-col">
                <h5 class="title"> </h5>
                <ul class="footer-list">
                    <li><h4>Team Members ---></h4></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h5 class="title"></h5>
                <ul class="footer-list">
                    Anubhav Verma<br>
                    Sourabh Nalavade<br>
                    Paras Tomar<br>
                    Krishna Tangirala<br>
                    Adarsh Verma
                </ul>
            </div>
            <div class="footer-col">
                <h5 class="title"></h5>
                <ul class="footer-list">

                </ul>
            </div>
            
            <div class="footer-col">
                <h5 class="title"></h5>
                <ul class="footer-list">
                   Guide: 
                <li class="me-2">Javeed Mohammed Husnuddin</li> 
                </ul>
                © 2022 Doconnect
            </div> 
            <div class="footer-col">
                <h5 class="title"></h5>
                <ul class="footer-list">
                   
                </ul>
            </div>
            <div class="footer-col">
                <h5 class="title"></h5>
                <ul class="footer-list">
                   
                </ul>
            </div>
            
             
             

        </nav>
       
        
    </div>
</footer>